* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: azure;
  height: 170px;
  background-color: bisque;


}

.left img {
  height: 200px;
  width: 200px;
}

.right {
  height: 204px;
  display: grid;
  margin-right: 1rem;

}

.right .img img {
  margin-top: 5px;
  height: 150px;
  width: 150px;
}

.right .img {
  height: 150px;
  width: 150px;
  grid-column: 1;
}

.right .profile {
  grid-column: 2;
  align-self: center;
}

.menu {
  width: 250px;
  height: 800px;
  background-color: wheat;

}

.menu .btn-ManageUser {
  display: inline;
  margin: 35px;

  margin-left: 15%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 7fr;
}

.content {
  margin-top: 1rem;
  margin-right: 2rem;
}

table {
  width: 100%;
  border: 1px solid black;
}

td {
  text-align: center;
}

#button-search {
  padding: 10px;
  margin: 10px;
  background-color: gray;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#button-add {
  padding: 10px;
  margin: 10px;
  background-color: green;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}




#edit {
  background-color: blue;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

#delete {
  background-color: red;
  /* Green */
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;

}

a{
  text-decoration: none;
  color: white;
}