<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    การจัดการข้อมูล
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <title>CSS Website Layout</title>
  <style>
    .header {
      background-color: papayawhip;
      padding: 20px;
      border-style: solid;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }

    .sidenav {
      float: left;
      width: 12%;
      height: 700px;
      /* only for demonstration, should be removed */
      background: papayawhip;
      padding: 20px;
      border: solid;
      border-top: 0px;


    }

    .sidenav a {
      padding: 6px 8px 6px 16px;
      text-decoration: none;
      font-size: 22px;
      color: black;
      display: block;
    }

    .sidenav a:hover {
      color: greenyellow;
    }

    .column {
      float: right;
      width: 85%;
    }

    /* Clear floats after the columns */

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

    @media screen and (max-width: 1000px) {
      .column {
        width: 60%;
      }
    }

    footer {
      background-color: greenyellow;
      padding: 10px;
      text-align: center;
      color: white;
      font-size: 25px;
      border: solid;

    }

    video {
      max-width: 100%;
      height: auto;
    }

    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 90%;
    }

    #customers td,
    #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #customers tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    #customers tr:hover {
      background-color: #ddd;
    }

    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #04AA6D;
      color: white;
    }
  </style>
</head>

<body>
  <div class="header">
    <img src=" ../../images/BuuLogo.png" style="width: 110px; height: 110px" />

    <p style="color: red; float: right; padding-top: 37px">
      <%=name%>
        <%=surname%>
    </p>
    <label
      style="padding-top: 20px; font-size: 40px; padding-left:  150px;">ระบบติดตามนิสิตที่เรียนไม่ตรงแผนการศึกษา</label>
    <p style="float: right; padding-top: 37px">ชื่อ : </p>
    <img src="../../images/person.png" style="float: right; width: 100px; height: 100px" />
  </div>
  <div class="sidenav">
    <a href="#" class="btn btn-sm btn-outline-dark  btn-secondary" style="color: black;">ค้นหาข้อมูลนิสิต</a><br>
    <a href="#" class="btn btn-sm btn-outline-dark  btn-secondary" style="color: black;">เพิ่มข้อมูลนิสิต</a><br>
    <a href="#" class="btn btn-sm btn-outline-dark  btn-secondary" style="color: black;">ลบข้อมูลนิสิต</a><br>
    <a href="#" class="btn btn-sm btn-outline-dark  btn-secondary" style="color: black;">แก้ไขข้อมูลนิสิต</a><br>
    <a href="#" class="btn btn-sm btn-outline-dark  btn-secondary" style="color: black;">ติดตามนิสิต</a><br>
    <a href="/logout" class="btn btn-sm btn-outline-dark btn-secondary" style="color: black;">ออกจากระบบ</a>
  </div>
  <table style="width: 80% ;" align="center">
    <!-- ---------------------- thead ---------------------- -->
    <thead>
      <th>ลำดับ</th>
      <th>รหัสนิสิต</th>
      <th>ชื่อ-สกุล</th>
      <th>GPA</th>
      <th>หน่วยกิตสะสม</th>
      <th>ระดับ</th>
    </thead>
    <!-- ---------------------- thead ---------------------- -->

    <!-- ---------------------- tbody ---------------------- -->
    <tbody>
      <% if(data.length) { for(var i=0; i<data.length ; i++) {%>
        <tr>
          <th>
            <%= (i+1) %>
          </th>
          <td>
            <%= (data[i].name) %>
          </td>
          <td>
            <%= (data[i].surname) %>
          </td>
          <td>
            <%= (data[i].position) %>
          </td>
          <td>
            <%= (data[i].salary).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
          </td>
          <td>
            <%= (data[i].total_sale).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
          </td>

        </tr>
        <%} }else{%>
          <tr>
            <td>No user</td>
          </tr>
          <%} %>
    </tbody>
    <!-- ---------------------- tbody ---------------------- -->
  </table>


</body>

</html>